PORT=3000
MAILER_SERVICE=
MAILER_MAIL=
MAILER_SECRET_KEY=
PROD=false

MONGO_URL=mongodb://ray:2005@localhost:27017
MONGO_DB_NAME=NOC
MONGO_USER=ray
MONGO_PASS=2005

POSTGRES_URL=postgresql://ray:2005@localhost:5432/noc_db
POSTGRES_USER=ray
POSTGRES_PASSWORD=2005
POSTGRES_DB=noc_db

